.sidebar {
    background-color: var(--primary-color);
    color: var(--white-color);
    height: 100vh;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .open {
    width: 200px;
  }
  
  .closed {
    width: 80px;
  }
  
  .toggleButton {
    position: absolute;
    top: var(--spacing-small);  /* Use small spacing */
    right: -25px;
    background-color: var(--secondary-color); /* Use secondary color */
    color: var(--white-color);  /* White text */
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navSection {
    margin-top: var(--spacing-medium); /* Medium spacing */
  }
  
  .navItem {
    display: flex;
    align-items: center;
    padding: var(--spacing-small) var(--spacing-medium); /* Small vertical, medium horizontal padding */
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .navItem:hover {
    background-color: var(--secondary-color); /* Secondary color on hover */
  }
  
  .icon {
    font-size: var(--font-medium);  /* Medium icon size */
    margin-right: var(--spacing-small);  /* Small margin between icon and text */
  }
  
  .pageSection {
    padding: var(--spacing-medium);  /* Medium spacing */
    margin-top: var(--spacing-medium);  /* Medium margin */
  }
  
  .addButton {
    background-color: var(--secondary-color); /* Use accent color for the button */
    color: var(--white-color);  /* White text */
    border: none;
    padding: var(--spacing-small) var(--spacing-medium);  /* Small vertical, medium horizontal padding */
    margin: var(--spacing-small) 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--spacing-small);  /* Small gap between icon and text */
    border-radius: 4px; /* Rounded corners */
    box-shadow: var(--box-shadow); /* Global box shadow */
  }
  
  .pageList {
    list-style-type: none;
    padding: 0;
  }
  
  .pageItem {
    padding: var(--spacing-small);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pageItem:hover {
    background-color: var(--secondary-color);  /* Secondary color on hover */
  }
  
  .pageIcon {
    font-size: var(--font-medium);  /* Small icon size */
  }
  