.canvas {
  flex-grow: 1;
  width: 100%;
  min-height: 450px;
  background-color: #f9f9f9;
  padding: 1.25rem; 
  border: 1px dashed #ccc;
  overflow: hidden;
}

.canvasDropHover {
  background-color: #e0e0e0;
  border-color: #999;
}
