
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f5;
  padding: 20px; 
}

.form {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.footerText {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.footerText a {
  color: #1492a0;
  text-decoration: none;
}

.footerText a:hover {
  text-decoration: underline;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #56b4ef; 
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0070f3;
}


.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
